/* DEMO 1 */
.wrapper-demo p{
    margin: 0;
}
.wrapper-dropdown-0 {
    /* Size and position */
    position: relative;
    width: 120px;
    margin-left: 25px;
    padding: 7px 10px;

    /* Styles */
    background: #f7f7f7;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.15);
    
    cursor: pointer;
    outline: none;
   
    /* Font settings */
    
    color: #7b7b7b;
}



.wrapper-dropdown-0 .dropd {
  /* Size & position */
    position: absolute;
    top: 140%;
    
    text-align: left;
    /* Styles */
    background: #f7f7f7;
    border-radius: inherit;
    border: 1px solid rgba(0,0,0,0.17);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    font-weight: normal;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    list-style: none;

    /* Hiding */
    opacity: 0;
    pointer-events: none;
}





.wrapper-dropdown-0 .dropd li a {
    display: block;
    padding: 8px 10px;
    text-decoration: none;
    color: #94999c;
    
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}




/* Hover state */

.wrapper-dropdown-0 .dropd li:hover a {
    background: #f3f8f8;
}

/* Active state */

.wrapper-dropdown-0.active .dropd {
    opacity: 1;
    pointer-events: auto;
    z-index: 15;
    padding: 0 18px;
}

/* No CSS3 support */

.no-opacity       .wrapper-dropdown-0 .dropd,
.no-pointerevents .wrapper-dropdown-0 .dropd {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */
    pointer-events: auto; /* If pointer-events support but no pointer-events support */
}

.no-opacity       .wrapper-dropdown-0.active .dropd,
.no-pointerevents .wrapper-dropdown-0.active .dropd {
    display: block;
}

/* DEMO 1 */
.wrapper-demo p{
    margin: 0;
}
.wrapper-dropdown-1 {
    /* Size and position */
    position: relative;
    width: 200px;
    
    padding: 7px 10px;

    /* Styles */
    background: #f7f7f7;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.15);
    
    cursor: pointer;
    outline: none;

    /* Font settings */
    
    color: #7b7b7b;
}



.wrapper-dropdown-1 .dropdo {
  /* Size & position */
    position: absolute;
    top: 140%;
    left: 0;
    right: 0;
    text-align: left;
    /* Styles */
    background: #f7f7f7;
    border-radius: inherit;
    border: 1px solid rgba(0,0,0,0.17);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    font-weight: normal;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    list-style: none;

    /* Hiding */
    opacity: 0;
    pointer-events: none;
}





.wrapper-dropdown-1 .dropdo li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #94999c;
    
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}




/* Hover state */

.wrapper-dropdown-1 .dropdo li:hover a {
    background: #f3f8f8;
}

/* Active state */

.wrapper-dropdown-1.active .dropdo {
    opacity: 1;
    pointer-events: auto;
    z-index: 15;
}

/* No CSS3 support */

.no-opacity       .wrapper-dropdown-1 .dropdo,
.no-pointerevents .wrapper-dropdown-1 .dropdo {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */
    pointer-events: auto; /* If pointer-events support but no pointer-events support */
}

.no-opacity       .wrapper-dropdown-1.active .dropdo,
.no-pointerevents .wrapper-dropdown-1.active .dropdo {
    display: block;
}



/* DEMO 2 */

.wrapper-dropdown-2 {
    /* Size and position */
    position: relative;
    width: 200px;
    
    padding: 7px 10px;

    /* Styles */
    background: #f7f7f7;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.15);
    
    cursor: pointer;
    outline: none;

    /* Font settings */
    
    color: #7b7b7b;
}



.wrapper-dropdown-2 .dropdow {
  /* Size & position */
    position: absolute;
    top: 140%;
    left: 0;
    right: 0;
    text-align: left;
    /* Styles */
    background: #f7f7f7;
    border-radius: inherit;
    border: 1px solid rgba(0,0,0,0.17);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    font-weight: normal;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    list-style: none;

    /* Hiding */
    opacity: 0;
    pointer-events: none;
}





.wrapper-dropdown-2 .dropdow li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #94999c;
    
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}




/* Hover state */

.wrapper-dropdown-2 .dropdow li:hover a {
    background: #f3f8f8;
}

/* Active state */

.wrapper-dropdown-2.active .dropdow {
    opacity: 1;
    pointer-events: auto;
    z-index: 15;
}

/* No CSS3 support */

.no-opacity       .wrapper-dropdown-2 .dropdow,
.no-pointerevents .wrapper-dropdown-2 .dropdow {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */
    pointer-events: auto; /* If pointer-events support but no pointer-events support */
}

.no-opacity       .wrapper-dropdown-2.active .dropdow,
.no-pointerevents .wrapper-dropdown-2.active .dropdow {
    display: block;
}


/* DEMO 3 */

.wrapper-dropdown-3 {
    /* Size and position */
    position: relative;
    width: 200px;
    
    padding: 7px 10px;

    /* Styles */
    background: #f7f7f7;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.15);
    
    cursor: pointer;
    outline: none;

    /* Font settings */
    
    color: #7b7b7b;
}



.wrapper-dropdown-3 .dropdown {
  /* Size & position */
    position: absolute;
    top: 140%;
    left: 0;
    right: 0;
    text-align: left;
    /* Styles */
    background: #f7f7f7;
    border-radius: inherit;
    border: 1px solid rgba(0,0,0,0.17);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    font-weight: normal;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    list-style: none;

    /* Hiding */
    opacity: 0;
    pointer-events: none;
}





.wrapper-dropdown-3 .dropdown li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #94999c;
    
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.wrapper-dropdown-3 .dropdown li i {
    float: right;
    color: inherit;
}



/* Hover state */

.wrapper-dropdown-3 .dropdown li:hover a {
    background: #f3f8f8;
}

/* Active state */

.wrapper-dropdown-3.active .dropdown {
    opacity: 1;
    pointer-events: auto;
    z-index: 15;
}

/* No CSS3 support */

.no-opacity       .wrapper-dropdown-3 .dropdown,
.no-pointerevents .wrapper-dropdown-3 .dropdown {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */
    pointer-events: auto; /* If pointer-events support but no pointer-events support */
}

.no-opacity       .wrapper-dropdown-3.active .dropdown,
.no-pointerevents .wrapper-dropdown-3.active .dropdown {
    display: block;
}






.kv input{
    max-width: 200px;
    border-radius: 10px;
    background: #f7f7f7;
    color: #111;
}
.form-group select{
    
    border-radius: 10px;
    background: #f7f7f7;
    color: #111;
}
.form-group{
    margin-left: 50px;
}
.row{
    margin-left: 20px;

}

.two a{
    text-decoration: none;
    color: #111;
}
.header{
    padding: 12px 0;
}

.one{
    text-align: center;
}

.one a{
    text-decoration: none;
    background: #ebedec;
    border-radius: 7px;
    padding: 5px 90px;
    color: #111;
}

.two{
    padding: 20px 0;
    font-size: 20px;

}

.open{
    text-align: right;
    padding: 20px 25px;
}

.q{
    margin-left: 33px;
}

.btn-success{
    border-radius: 10px;
    margin-top: 5px;
}

.publish:hover{
    background: #ebedec;
    color: #fff;
}

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(234,234,234,0.74);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    display: none;
    pointer-events: none;

}
.modalDialog:target {
    display: block;
    pointer-events: auto;
}

 .modalDialog h2{
    padding-right: 90px;
 }

.modalDialog > div {
    max-width: 1100px;
    height: 500px;
    position: relative;
    margin: 60px auto;
    text-align: center;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
.close {
    color: #adb5bd;
    line-height: 25px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 5px;
    max-width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

 
.close:hover { color: #3d8600; }


@media (min-width:320px) and (max-width:724px) {
 .modalDialog > div {
    height: 630px;
    width:360px;
    margin-top: 20px;
}
.modalDialog{
    height: 740px;
}
.row{
    margin-top: -60px;
}
.row .btn-success{
    margin-top: -5px;
    margin-right: 25px;
}
.col-sm-6{
    text-align: center;

}
.modalDialog h2{
    padding-right: 0px;
    padding-bottom: 20px;
 }
 .row div{
    margin-bottom: 7px;

}
.container .content {
    margin-left: 60px;
}

.container .m{
    margin-left: 75px;
}
.container .n{
    margin-left: 40px;
}
.container .form-group{
    margin-left: 110px;
}
.w{
    margin-bottom: -37px;

}
.e{
    margin-top: 37px;
}
.z{
    margin-top: -39px;
    margin-bottom: -8px;
}
}

@media (min-width:725px) and (max-width:1025px) {
 .modalDialog > div {
    width:700px;
    height: 600px;
}
.modalDialog h2{
    padding-right: 50px;
 }
.wrapper-dropdown-3{
    width: 145px;
}
.wrapper-dropdown-2{
    width: 145px;
}
.wrapper-dropdown-1{
    width: 149px;
}
.wrapper-dropdown-0{
    width: 70px;
}
}
